*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-size:2rem;
    font-weight: 600;
}
ul{
    position:fixed;
    list-style-type:none ;
    padding:0.5rem;
    border:1px solid black;
    background-color: #000;
}
li{
    padding:0.3rem;
    border:1px solid black;
    display:inline-block;
}
ul>li>a{
    text-decoration:dotted;
    color:white;

}
li a:hover , li:focus{
    background-color: gray;
}
/* you can remove it to document flow by doing display none */