/* *{
    margin: 0px;
    padding: 0px;
}
nav{
    height: 5rem;
    width: 100vw;
    margin: 30px;
} */
img{
    /* margin:0px 20px; */
    height: 50vh;
    width: 30%;
    margin: 1%  ;
    /* display: inline-block; */
}
/* .first{
    height: 60vh;
    width:100vw ;
}
.second{
    height: 60vh;
    width:100vw ;
}
.third{
    height: 60vh;
    width:100vw ;
} */