/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
button, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/*   Our code starts from here...    */
body{
    background-color:#0384c0;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    align-items: center;
    min-height: 100vh;
}
#ful{
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding:25px 30px;
    display: flex;
    width: 100%;
    max-width: 860px;
    min-width: 860px;
}
#ful:nth-child(n){
    width: calc(100%/3);
    padding:30px 35px;
}
.inside{
    width: 100%;
    margin-bottom:40px;
} 
h2{
    border-bottom: 1px solid rgb(235, 206, 206);
    padding-bottom:50px;
    font-weight: 800;
    letter-spacing: 1px;
}
span{
    display: block;
}
li{
    border-bottom: 1px solid rgb(235, 206, 206);
    padding:20px;
    color:rgb(0, 122, 223);
    line-height: 20px;
}
#first ,#second , #third{
    padding: 25px 20px;
    border-right: 1px solid rgb(235, 206, 206); 
}
#third{
    border-right: none;
}